.yarl__container,
.yarl__thumbnails_container {
  background-color: rgb(107 114 128 / 0.75);
}
.yarl__thumbnails_container {
  background-color: rgb(107 114 128 / 0.75);
}
.yarl__thumbnails_vignette {
  background: transparent !important;
}
