.item-slider img {
  height: 314px;
  width: 100%;
  min-width: 700px;
  object-fit: cover;
}

.slick-slide {
  transform: scale(0.9);
}
.slick-slide.slick-center {
  transform: scale(1);
}

.slick-slider {
  .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .item-slider img {
    height: auto;
    width: 100%;
  }
  .slick-slide {
    transform: scale(1);
  }

  .slick-slider {
    .slick-arrow {
      z-index: 200;
      display: block !important;
    }
    .slick-next,
    .slick-prev {
      right: 0;
      height: 40px;
      width: 40px;
    }
    .slick-next::before,
    .slick-prev::before {
      font-size: 30px;
      color: rgb(255 255 255 / 50%);
    }
    .slick-prev {
      left: 0;
    }
  }
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .item-slider img {
    min-width: auto;
  }
}
